src/views/templates/camp/camp.pug
.container.week-content
	.week-content--feature
		.week-content--card
			.week-card--media
				.container--grid-links
					.camp--primary.camp-slider
						//- slider
						//- .slider-controls
						//- 	.arrow-rigth
						//- 		img(src="./assets/arrow-white-right.png")
						//- .col-xs-12.col-md-12.col-lg-12.link-primary--pic._pic--camp._pic
						//- 	._pic--text._pic--camp--text
						//- 		h3.title-primary.title-jumbo.text-white.
						//- 			Semana de Australia
						//- 		.underline-full
						//- 		p.font-montserrat.text-white.
						//- 			Et tristique sem tellus gravida turpis. Habitant netus cras imperdiet sed. Leo proin eget rutrum orci pharetra. Augue blandit nascetur purus a, elementum.
						//- 		.row--btn.text-align-left
						//- 			a(href="#!").btn.btn-golden.btn-small.
						//- 				Ver más
						.item-slider._camp-slider
								#main-carousel.carousel.slide(data-ride="carousel")
									ol.carousel-indicators
										li.active(data-target="#main-carousel" data-slide-to="0")
										li(data-target="#main-carousel" data-slide-to="1")
										li(data-target="#main-carousel" data-slide-to="2")
									//- // /.carousel-indicators
									.carousel-inner
										.carousel-item.active
											//- img.d-block.img-fluid(src="./assets/bg-australia.jpg" alt="")
											.img-slider.camp-img1
											.carousel-caption
												//- text-here
												._pic--text._pic--camp--text
													h3.title-primary.title-jumbo.text-white.
														Semana de Australia
													.underline-full
													p.font-montserrat.text-white.
														Et tristique sem tellus gravida turpis. Habitant netus cras imperdiet sed. Leo proin eget rutrum orci pharetra. Augue blandit nascetur purus a, elementum.
													.row--btn.text-align-left
														a(href="#!").btn.btn-golden.btn-small.
															Ver más
										.carousel-item
											.img-slider.camp-img2
											//- img.d-block.img-fluid(src="./assets/bg-australia.jpg" alt="")
											.carousel-caption
												//- text-here
												._pic--text._pic--camp--text
													h3.title-primary.title-jumbo.text-white.
														Semana de Australia
													.underline-full
													p.font-montserrat.text-white.
														Et tristique sem tellus gravida turpis. Habitant netus cras imperdiet sed. Leo proin eget rutrum orci pharetra. Augue blandit nascetur purus a, elementum.
													.row--btn.text-align-left
														a(href="#!").btn.btn-golden.btn-small.
															Ver más
										.carousel-item
											.img-slider.camp-img3
											//- img.d-block.img-fluid(src="./assets/bg-australia.jpg" alt="")
											.carousel-caption
												//- text-here
												._pic--text._pic--camp--text
													h3.title-primary.title-jumbo.text-white.
														Semana de Australia
													.underline-full
													p.font-montserrat.text-white.
														Et tristique sem tellus gravida turpis. Habitant netus cras imperdiet sed. Leo proin eget rutrum orci pharetra. Augue blandit nascetur purus a, elementum.
													.row--btn.text-align-left
														a(href="#!").btn.btn-golden.btn-small.
															Ver más
									//- // /.carousel-inner
									a.carousel-control-prev(href="#main-carousel" data-slide="prev")
										span.carousel-control-prev-icon
										span.sr-only(aria-hidden="true") Prev
									a.carousel-control-next(href="#main-carousel" data-slide="next")
										span.carousel-control-next-icon
										span.sr-only(aria-hidden="true") Next						

					.camp--row
						.camp-secondary--pic._pic-2._pic--camp._pic
							._pic--text._pic--camp--cardText
								h3.title-primary.text-white.
									Día internacional de la mujer
								p.font-montserrat.text-white.
									Et tristique sem tellus gravida turpis. Habitant netus cras imperdiet sed. Leo proin eget rutrum orci pharetra. Augue blandit nascetur purus a, elementum.									
								.row--btn
									a(href="#!").btn.btn-golden.btn-small.
										Ver más
						.camp-secondary--pic._pic-3._pic--camp._pic
							._pic--text._pic--camp--cardText
								h3.title-primary.text-white.
									Educación Australiana
								p.font-montserrat.text-white.
									Et tristique sem tellus gravida turpis. Habitant netus cras imperdiet sed. Leo proin eget rutrum orci pharetra. Augue blandit nascetur purus a, elementum.									
								.row--btn
									a(href="#!").btn.btn-golden.btn-small.
										Ver más
					.camp--row
						.camp-secondary--pic._pic-2._pic--camp._pic
							._pic--text._pic--camp--cardText
								h3.title-primary.text-white.
									Fiestas patrias bicentenario
								p.font-montserrat.text-white.
									Et tristique sem tellus gravida turpis. Habitant netus cras imperdiet sed. Leo proin eget rutrum orci pharetra. Augue blandit nascetur purus a, elementum.									
								.row--btn
									a(href="#!").btn.btn-golden.btn-small.
										Ver más
						.camp-secondary--pic._pic-3._pic--camp._pic
							._pic--text._pic--camp--cardText
								h3.title-primary.text-white.
									Perumin, Australia país aliado
								p.font-montserrat.text-white.
									Et tristique sem tellus gravida turpis. Habitant netus cras imperdiet sed. Leo proin eget rutrum orci pharetra. Augue blandit nascetur purus a, elementum.									
								.row--btn
									a(href="#!").btn.btn-golden.btn-small.
										Ver más

public/camp.html
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="./lib/normalize/normalize.css">
    <link rel="stylesheet" type="text/css" href="./lib/splide/css/splide-core.min.css">
    <link rel="stylesheet" type="text/css" href="./lib/splide/css/splide.min.css">
    <link rel="stylesheet" type="text/css" href="./lib/simple-scrollbar/simple-scrollbar.css">
    <link rel="stylesheet" type="text/css" href="./lib/bootstrap/css/bootstrap.css">
    <link rel="stylesheet" type="text/css" href="style.css">
    <script src="https://kit.fontawesome.com/85b4047669.js" crossorigin="anonymous"></script>
    <title>Australia</title>
    <header>
      <div class="container-header text-green">
        <div class="title-text">
          <h1>Peru Australia 2021</h1>
        </div>
        <div class="text-white">
          <div class="nav-hide" id="navMenu">
            <div class="nav--mobile">
              <h2>Menú</h2>
              <ul>
                <li> <a href="#!">Inicio</a></li>
                <li> <a href="#!">¿Quienes somos?</a></li>
                <li><a href="#!">Campañas</a></li>
              </ul>
            </div><i class="fas fa-times" id="closeNav"></i>
          </div>
        </div>
        <div class="nav">
          <ul class="uppercase font-prompt bold">
            <li> <a class="item-active" href="#!">Inicio</a></li>
            <li> <a href="#!">¿Quienes somos?</a></li>
            <li><a href="#!">Campañas</a></li>
          </ul>
        </div>
      </div><img id="navIcon" src="./assets/icon-menu.png">
    </header>
    <div id="main">
      <div class="container-about-us">
        <div class="container week-content">
          <div class="week-content--feature">
            <div class="week-content--card">
              <div class="week-card--media">
                <div class="container--grid-links">
                  <div class="camp--primary camp-slider">
                    <div class="item-slider _camp-slider">
                      <div class="carousel slide" id="main-carousel" data-ride="carousel">
                        <ol class="carousel-indicators">
                          <li class="active" data-target="#main-carousel" data-slide-to="0"></li>
                          <li data-target="#main-carousel" data-slide-to="1"></li>
                          <li data-target="#main-carousel" data-slide-to="2"></li>
                        </ol>
                        <div class="carousel-inner">
                          <div class="carousel-item active">
                            <div class="img-slider camp-img1"></div>
                            <div class="carousel-caption">
                              <div class="_pic--text _pic--camp--text">
                                <h3 class="title-primary title-jumbo text-white">Semana de Australia</h3>
                                <div class="underline-full"></div>
                                <p class="font-montserrat text-white">Et tristique sem tellus gravida turpis. Habitant netus cras imperdiet sed. Leo proin eget rutrum orci pharetra. Augue blandit nascetur purus a, elementum.</p>
                                <div class="row--btn text-align-left"><a class="btn btn-golden btn-small" href="#!">Ver más</a></div>
                              </div>
                            </div>
                          </div>
                          <div class="carousel-item">
                            <div class="img-slider camp-img2"></div>
                            <div class="carousel-caption">
                              <div class="_pic--text _pic--camp--text">
                                <h3 class="title-primary title-jumbo text-white">Semana de Australia</h3>
                                <div class="underline-full"></div>
                                <p class="font-montserrat text-white">Et tristique sem tellus gravida turpis. Habitant netus cras imperdiet sed. Leo proin eget rutrum orci pharetra. Augue blandit nascetur purus a, elementum.</p>
                                <div class="row--btn text-align-left"><a class="btn btn-golden btn-small" href="#!">Ver más</a></div>
                              </div>
                            </div>
                          </div>
                          <div class="carousel-item">
                            <div class="img-slider camp-img3"></div>
                            <div class="carousel-caption">
                              <div class="_pic--text _pic--camp--text">
                                <h3 class="title-primary title-jumbo text-white">Semana de Australia</h3>
                                <div class="underline-full"></div>
                                <p class="font-montserrat text-white">Et tristique sem tellus gravida turpis. Habitant netus cras imperdiet sed. Leo proin eget rutrum orci pharetra. Augue blandit nascetur purus a, elementum.</p>
                                <div class="row--btn text-align-left"><a class="btn btn-golden btn-small" href="#!">Ver más</a></div>
                              </div>
                            </div>
                          </div>
                        </div><a class="carousel-control-prev" href="#main-carousel" data-slide="prev"><span class="carousel-control-prev-icon"></span><span class="sr-only" aria-hidden="true">Prev</span></a><a class="carousel-control-next" href="#main-carousel" data-slide="next"><span class="carousel-control-next-icon"></span><span class="sr-only" aria-hidden="true">Next						</span></a>
                      </div>
                    </div>
                  </div>
                  <div class="camp--row">
                    <div class="camp-secondary--pic _pic-2 _pic--camp _pic">
                      <div class="_pic--text _pic--camp--cardText">
                        <h3 class="title-primary text-white">Día internacional de la mujer</h3>
                        <p class="font-montserrat text-white">Et tristique sem tellus gravida turpis. Habitant netus cras imperdiet sed. Leo proin eget rutrum orci pharetra. Augue blandit nascetur purus a, elementum.									</p>
                        <div class="row--btn"><a class="btn btn-golden btn-small" href="#!">Ver más</a></div>
                      </div>
                    </div>
                    <div class="camp-secondary--pic _pic-3 _pic--camp _pic">
                      <div class="_pic--text _pic--camp--cardText">
                        <h3 class="title-primary text-white">Educación Australiana</h3>
                        <p class="font-montserrat text-white">Et tristique sem tellus gravida turpis. Habitant netus cras imperdiet sed. Leo proin eget rutrum orci pharetra. Augue blandit nascetur purus a, elementum.									</p>
                        <div class="row--btn"><a class="btn btn-golden btn-small" href="#!">Ver más</a></div>
                      </div>
                    </div>
                  </div>
                  <div class="camp--row">
                    <div class="camp-secondary--pic _pic-2 _pic--camp _pic">
                      <div class="_pic--text _pic--camp--cardText">
                        <h3 class="title-primary text-white">Fiestas patrias bicentenario</h3>
                        <p class="font-montserrat text-white">Et tristique sem tellus gravida turpis. Habitant netus cras imperdiet sed. Leo proin eget rutrum orci pharetra. Augue blandit nascetur purus a, elementum.									</p>
                        <div class="row--btn"><a class="btn btn-golden btn-small" href="#!">Ver más</a></div>
                      </div>
                    </div>
                    <div class="camp-secondary--pic _pic-3 _pic--camp _pic">
                      <div class="_pic--text _pic--camp--cardText">
                        <h3 class="title-primary text-white">Perumin, Australia país aliado</h3>
                        <p class="font-montserrat text-white">Et tristique sem tellus gravida turpis. Habitant netus cras imperdiet sed. Leo proin eget rutrum orci pharetra. Augue blandit nascetur purus a, elementum.									</p>
                        <div class="row--btn"><a class="btn btn-golden btn-small" href="#!">Ver más</a></div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <footer>
      <div id="newsletter">
        <div class="container-newletter">
          <div class="newsletter-text">
            <h3 class="title-primary">¿Quieres saber mas?</h3>
            <div class="underline-short"></div>
            <p class="parragraph--newsletter">Suscríbete a nuestro newsletter y obtén actualizaciones sobre nuestras campañas.</p>
          </div>
          <div class="newsletter-form">
            <form class="form-australia" method="GET" action="#!">
              <input class="input-text" type="text" name="newsletter" placeholder="jhon@doe.com ...">
              <button class="submit" type="submit">
                <svg width="16" height="13" viewbox="0 0 16 13" fill="none" xmlns="http://www.w3.org/2000/svg">
                  <path d="M13.7874 0.114838H1.74243C0.914343 0.114838 0.236816 0.792364 0.236816 1.62045V10.6541C0.236816 11.4822 0.914343 12.1598 1.74243 12.1598H13.7874C14.6154 12.1598 15.293 11.4822 15.293 10.6541V1.62045C15.293 0.792364 14.6154 0.114838 13.7874 0.114838ZM13.4862 3.31427L8.56287 6.39325C8.07354 6.7019 7.45624 6.7019 6.96692 6.39325L2.04355 3.31427C1.96807 3.27189 1.90197 3.21464 1.84925 3.14598C1.79653 3.07732 1.75829 2.99868 1.73684 2.91481C1.7154 2.83094 1.71119 2.74359 1.72448 2.65805C1.73777 2.57251 1.76828 2.49056 1.81416 2.41715C1.86004 2.34374 1.92034 2.2804 1.9914 2.23098C2.06247 2.18155 2.14283 2.14705 2.22761 2.12957C2.3124 2.1121 2.39985 2.11201 2.48467 2.12931C2.56949 2.14661 2.64991 2.18094 2.72108 2.23023L7.76489 5.38449L12.8087 2.23023C12.8799 2.18094 12.9603 2.14661 13.0451 2.12931C13.1299 2.11201 13.2174 2.1121 13.3022 2.12957C13.387 2.14705 13.4673 2.18155 13.5384 2.23098C13.6094 2.2804 13.6697 2.34374 13.7156 2.41715C13.7615 2.49056 13.792 2.57251 13.8053 2.65805C13.8186 2.74359 13.8144 2.83094 13.7929 2.91481C13.7715 2.99868 13.7333 3.07732 13.6805 3.14598C13.6278 3.21464 13.5617 3.27189 13.4862 3.31427V3.31427Z" fill="white"></path>
                </svg>
              </button>
            </form>
          </div>
        </div>
      </div>
      <div id="widgets">
        <div class="container-widgets font-montserrat">
          <div class="container">
            <div class="row">
              <div class="col-lg-6 col-md-6 col-xs-12 footer--widget">
                <div class="col-lg-4 col-md-4 col-xs-12">
                  <p class="bold">Inicio</p>
                  <ul>
                    <li><a href="#!">Nuestro	proyecto</a></li>
                    <li><a href="#!">Camapaña actual	</a></li>
                    <li><a href="#!">Últimas noticias</a></li>
                  </ul>
                </div>
                <div class="col-lg-4 col-md-4 col-xs-12">
                  <p class="bold">¿Quienes somos?</p>
                  <ul>
                    <li><a href="#!">Acerca de esta embajada</a></li>
                    <li><a href="#!">Proyecto Bicentenario</a></li>
                    <li><a href="#!">Cooperación Perú - Australia</a></li>
                  </ul>
                </div>
                <div class="col-lg-4 col-md-4 col-xs-12">
                  <p class="bold">Campañas</p>
                  <ul>
                    <li><a href="#!">Campaña actual</a></li>
                    <li><a href="#!">Campañas anteriores</a></li>
                  </ul>
                </div>
              </div>
              <div class="col-lg-3 col-md-3 col-xs-12 footer--brand">
                <div class="col-xs-12 brand--img"><img src="./assets/logo-embassy.png"></div>
              </div>
              <div class="col-lg-3 col-md-3 col-xs-12 footer--data">
                <div class="col-xs-12 footer-address">
                  <p><i class="fas fa-map-marker-alt"></i>Av. La Paz 1049, Piso 10 Miraflores, Lima 18, Perú</p>
                  <p><i class="fas fa-phone-alt"></i>+51 1630 0500</p>
                  <p><i class="fas fa-envelope"></i>limasocialmedia@dfat.gov.au</p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div id="socialBar">
        <div class="container-socialBar">
          <div class="social-items">
            <div class="s-item"><a href="#!"><i class="fab fa-twitter-square"></i></a></div>
            <div class="s-item"><a href="#!"><i class="fab fa-facebook-square"></i></a></div>
            <div class="s-item"><a href="#!"><i class="fab fa-instagram-square"></i></a></div>
          </div>
        </div>
      </div>
      <script type="text/javascript" src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
      <script type="text/javascript" src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"></script>
      <script type="text/javascript" src="./lib/bootstrap/js/bootstrap.js"></script>
      <script type="text/javascript" src="./js/app.js"></script>
    </footer>
  </head>
  <body></body>
</html>
